.conteudoPaginaDescricao {
	margin-top: -160px;
}

.conteudoGeral {
	padding: 20px;
}

.conteudoCaseDetalhe {
	padding: 0 0px;
}

/* ============
   BOTOES
   ============ */
.btLojista,
.btIcone,
.btIcone span,
.btVoltar {
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.btLojista,
.btVoltar {
	height: 48px;
	line-height: 48px;
	border: 1px solid #48b7c8;
	padding-right: 40px;
	text-align: right;
	font-family: 'regan_altdemibold', arial, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.btLojista {
	position: absolute;
	bottom: 0;
	right: 75px;
	width: 233px;
	color: #FFF;
}

.btVoltar {
	color: #696969;
	max-width: 318px;
	margin: 0 auto;
	position: relative;
}

.btLojista:hover {
	background: #FFF;
	color: #009bb3;
}

.btVoltar:hover {
	background: #009bb3;
	color: #FFF;
}

.btIcone {
	background: #FFF;
	width: 37px;
	height: 36px;
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -18px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.btVoltar .btIcone {
	background: #009bb3;
}

.btLojista:hover .btIcone {
	background: #009bb3;
}

.btVoltar:hover .btIcone {
	background: #FFF;
}

.btLojista .btIcone span {
	background: url('../img/icons/botoes.png') no-repeat;
	background-position: 0 -252px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.btLojista:hover .btIcone span {
	background-position: 0 -216px;
}

.btVoltar .btIcone span {
	background: url('../img/icons/rodape.png') no-repeat;
	background-position: 0 -433px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 13px;
	height: 8px;
	z-index: 2;
	margin: -4px 0 0 -9px; 
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}

.btVoltar:hover .btIcone span {
	background-position: 0 -422px;
}






.blocoCase {
	display: block;
	margin-bottom: 80px;
	position: relative;
	z-index: 1;
}

.blocoCaseLeft {
	width: 50%;
	float: left;
}

.blocoCaseRight {
	width: 47%;
	float: right;
}

.caseDescricao {
	background: #009BB3;
}

.caseDescricao p {
	font-size: 26px;
	color: #FFF;
	display: block;
	line-height: 1.2em;
	padding: 40px 0 40px 50px;
}

.caseTexto {
	padding: 60px 55px 0;
	max-width: 350px;
}

.blocoCaseTexto {
	margin-bottom: 60px;
}

.caseTexto .titulo,
.caseTexto .descricao {
	display: block;
	color: #515151;
	font-size: 22px;
	line-height: 1em;
}

.caseTexto .titulo {
	text-transform: uppercase;
	padding-bottom: 35px;
}

.caseTexto .descricao {
	font-family: 'source_sans_proregular', arial, sans-serif;
	line-height: 21px;
	font-size: 14px;
	color: #696969;
}





/* ============
   FOTOS CASE
   ============ */
.caseFotos {
	max-width: 510px;
}

.fotosCase { 
	width: 100%;
}

.fotosCase img { 
	width: 100%; 
	height: auto 
}

.blocoThumbs {
	text-align: center;
}

.pagerThumbs {
	text-align: center;
	margin-top: 3px;
	max-width: 510px;
}

.linkFotos {
	display: inline-block;
	position: relative;
	max-width: 168px;
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

.linkFotosLast {
	margin-right: 0;
}

.thumbFotos {
	width: 100%;
	height: auto;
}

.linkFotos:after {
	border: 5px solid transparent;
	content: "";
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.linkFotos.cycle-pager-active:after,
.linkFotos:hover:after {
	border: 5px solid #00a8be;
}






/* ============
   PRODUTOS UTILIZADOS
   ============ */
.sectionCases {
	margin-bottom: 90px;
}

.headerUtilizados {
	background: #00a8be;
	padding: 50px 0 145px;
}

.headerUtilizados .titulo {
	font-family: 'regan_altregular', arial, sans-serif;
	font-size: 24px;
	display: block;
	line-height: 1em;
	padding: 0 50px;
}

.conteudoUtilizados {
	background: #FFF;
	margin-top: -95px;
	padding-top: 65px;
}

.utilizadosUl {
	text-align: left;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
}

.utilizadosLi {
	float: left;
	margin: 0;
}

.utilizadosLink {
	width: 192px;
	height: 298px;
	padding: 6px;
	display: block;
	position: relative;
	border: 1px solid #e1e1e1;
	border-top: 0;
	border-left: 0;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.utilizadosLink:hover {
	background: #00a8be;
}

.utilizadosImg {
	width: 100%;
	display: block;
}

.utilizadosTitulo {
	position: absolute;
	top: 250px;
	left: 30px;
}

.utilizadosTitulo span {
	display: block;
	color: #696969;
	line-height: 1em;
	font-size: 18px;
	padding-left: 18px;
}

.utilizadosTitulo .titulo {
	background: url('../img/icons/produto_titulo.png') no-repeat 0 4px;
	text-transform: uppercase;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.utilizadosLink:hover .utilizadosTitulo span {
	color: #FFF;
}

.utilizadosLink:hover .utilizadosTitulo .titulo {
	background-position: 0 -17px;
}



/* ============
   MEDIA QUERIES
   ============ */
@media only screen and (max-width: 1290px) {
	/* ============
	   LINHAS DE PRODUTOS
	   ============ */
	.utilizadosUl {
		width: 765px;
	}

	.utilizadosLink {
		width: 178px;
	}
}

@media only screen and (max-width: 1023px) {
	.paginaDescricao {
		padding: 25px 0 0 25px;
	}

	.conteudoCaseDetalhe {
		padding: 0;
	}

	.btLojista {
		display: none;
	}

	.blocoCaseLeft,
	.blocoCaseRight {
		width: 100%;
		float: none;
	}

	.caseDescricao {
		text-align: center;
	}

	.caseDescricao p {
		padding: 40px  30px;
	}

	.caseTexto {
		margin: 0 auto;
		max-width: 510px;
		padding-left: 0;
		padding-right: 0;
	}

	.caseFotos {
		margin: 0 auto;
	}

	.thumbFotos {
	    max-width: 168px;
	}

	.linkFotos:after {
		border: 2px solid transparent;
	}

	.linkFotos.cycle-pager-active:after,
	.linkFotos:hover:after {
		border: 2px solid #00a8be;
	}

	.lojaDescricao {
		padding: 0;
		max-width: 100%;
		margin-bottom: 30px;
	}



	/* ============
	   LINHAS DE PRODUTOS
	   ============ */
	.produtos {
		padding: 30px;
	}

	.utilizadosUl {
		width: auto;
	}

	.utilizadosLi {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	.utilizadosLink {
		width: auto;
	}

	
	.btVoltar {
		padding-right: 15px;
		font-size: 10px;
	}
}




/* ============
   RETINA
   ============ */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.btLojista .btIcone span {
		background-image: url('../img/icons/botoes_2x.png');
		background-size: 37px 288px;
	}

	.infosLink {
		background-image: url('../img/icons/loja_detalhe_2x.png');
		background-size: 17px 95px;
	}
}

