.headerLinha {
	text-align: left;
	position: relative;
}

.headerLinha .titulo {
	background: url("../img/icons/linhas_titulos.png") no-repeat;
	font-family: 'regan_altlight', arial, sans-serif;
	font-size: 50px;
	line-height: 25px;
	padding-left: 110px;
	display: block;
}

.headerLinha .titulo span {
	display: block;
}

.headerLinha .linha {
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.headerLinha .tituloLinha {
	line-height: 1em;
	margin-top: -10px;
}

.sectionLinha {
	margin-bottom: 80px;
}




/* ============
   DESIGN INTELIGENTE
   ============ */
.logoDesign {
	background: url('../img/logos/design_inteligente.png') no-repeat;
	display: block;
	width: 107px;
	height: 29px;
	margin-bottom: 15px;
}

.blocoDesign {
	display: table;
	margin-bottom: 15px;
}

.designImg {
	float: left;
	margin-right: 15px;
}

.designDescricao {
	color: #696969;
	font-size: 13px;
	line-height: 17px;
	display: table-cell;
	vertical-align: middle;
	padding-right: 40px;
}




/* ============
   ACABAMENTOS
   ============ */
.sectionAcabamentos .titulo {
	display: block;
	color: #515151;
	text-transform: uppercase;
}

.acabamentosUl {
	display: inline-block;
	text-align: center;
}

.acabamentosLi {
	float: left;
}

.cor,
.imgCor {
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.cor {
	width: 26px;
	height: 26px;
	float: left;
	margin-right: 7px;
}

.imgCor {
	width: 100%;
}

.acabamentosTxt {
	text-align: left;
	display: block;
}

.acabamentosTxt span {
	font-family: 'regan_altdemibold', arial, sans-serif;
 	display: block;
 	color: #515151;
 	font-size: 12px;
 	padding-bottom: 1px;
}



/* ============
   BOTOES
   ============ */
.botoesLink,
.botoesIcone,
.botoesIcone span {
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.botoesLi {
	float: left;
	margin: 0 5px 5px;
}

.botoesLink {
	display: block;
	position: relative;
	border: 1px solid #d2d2d2;
	height: 63px;
	line-height: 65px;
	font-family: 'regan_altdemibold', arial, sans-serif;
	color: #515151;
	font-size: 12px;
	text-align: left;
	width: 220px;
	padding-left: 65px;
	text-transform: uppercase;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.botoesIcone {
 	position: absolute;
 	top: 50%;
 	left: 15px;
 	margin-top: -20px;
 	width: 40px;
 	height: 40px;
 	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.botoesIcone span {
	background: url('../img/icons/botoes_linhas.png') no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.botoesIconePdf span {
	background-position: 0 -120px;
}

.botoesIconeLoja span {
	background-position: 0 -240px;
}

.botoesLink:hover {
	color: #FFF;
}

.botoesLink:hover .botoesIcone {
	background: #FFF;
}




/* ============
   PRODUTOS CATEGORIAS
   ============ */
.linhaCategoria {
	padding-top: 75px;
}

.linhaCategoria .titulo,
.produtosCategoria .tituloCategoria {
	font-family: 'regan_altregular', arial, sans-serif;
	color: #515151;
	font-size: 26px;
	display: block;
	padding-bottom: 20px;
	margin-bottom: 55px;
	text-transform: uppercase;
}

.produtosCategoriasUl {
	max-width: 885px;
}

.produtosCategoriasLi {
	float: left;
	position: relative;
}

.btFavorito {
	background: url('../img/icons/estrela.png') no-repeat;
	background-position: 0 0;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 20px;
	right: 20px;
}

.btFavoritoAtivo,
.btFavorito:hover {
	background-position: 0 -14px;
}

.produtosCategoriasLink,
.produtosCategoriasTitulo {
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.produtosCategoriasLink {
	background: #FFF;
	display: block;
	text-align: center;
	width: 208px;
	height: 255px;
	padding: 6px;
	border: 1px solid #e1e1e1;
	border-top: 0;
	border-left: 0;
}

.produtosCategoriasLi .imgCategoria {
	width: 100%;
	display: block;
}

.produtosCategoriasLi .blocoImagemCategoria {
	display: inline-block;
	width: 100%;
	min-height: 120px;
	text-align: center;
	background: #FFF;
	padding-top: 10px;
	margin-bottom: 18px;
}

.produtosCategoriasLi .produtosLinhaImg {
	display: inline-block;
	width: 100%;
	max-width: 70px;
	margin: 0 auto;
}

.produtosCategoriasTitulo {
	display: block;
	color: #515151;
	padding-left: 10px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: left;
}

.produtosCategoriasTitulo span {
	display: block;
	padding-bottom: 3px;
}

.produtosCategoriasLink:hover .produtosCategoriasTitulo {
	color: #FFF;
}

.observacao {
	font-family: 'source_sans_proregular';
	color: #515151;
	font-size: 11px;
	display: block;
	max-width: 750px;
	margin: 0 auto;
	line-height: 16px;
}




/* ============
   BOTOES OPCOES DETALHE
   ============ */
.opcoesProdutoLink,
.opcoesProdutoIcone,
.opcoesProdutoIcone span,
.opcoesProdutoTitulo {
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.opcoesProdutoUl {
	margin: 65px 0;
}

.opcoesProdutoLi {
	float: left;
	margin: 0 3px 5px;
}

.opcoesProdutoLink {
	display: block;
	position: relative;
	border: 1px solid #d2d2d2;
	height: 63px;
	font-family: 'regan_altdemibold', arial, sans-serif;
	color: #515151;
	font-size: 12px;
	text-align: center;
	width: 220px;
	text-transform: uppercase;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.opcoesProdutoIcone {
 	background: #fdb913;
 	position: absolute;
 	top: 50%;
 	left: 15px;
 	margin-top: -20px;
 	width: 40px;
 	height: 40px;
 	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.opcoesProdutoIcone span {
	background: url('../img/icons/opcoes_detalhe.png') no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.opcoesProdutoLink:hover {
	background: #fdb913;
	border-color: #fdb913;
}

.opcoesProdutoTitulo {
	padding: 20px 0 0 30px;
	display: block;
	color: #696969;
	font-size: 11px;
}

.opcoesProdutoLink:hover .opcoesProdutoTitulo {
	color: #FFF;
}

.opcoesProdutoTitulo span {
	display: block;
}

.opcoesProdutoLink:hover .opcoesProdutoIcone {
	background: #FFF;
}

.opcoesProdutoLink:hover .opcoesProdutoIcone span {
	background-position: 0 -40px;
}

.opcoesProdutoIconeOrcamento span {
	background-position: 0 -120px;
}

.opcoesProdutoLink:hover .opcoesProdutoIconeOrcamento span {
	background-position: 0 -160px;
}

.opcoesProdutoIconeLoja span {
	background-position: 0 -240px;
}

.opcoesProdutoLink:hover .opcoesProdutoIconeLoja span {
	background-position: 0 -280px;
}

.opcoesProdutoIconeFacebook span {
	background-position: 0 -360px;
}

.opcoesProdutoLink:hover .opcoesProdutoIconeFacebook span {
	background-position: 0 -400px;
}





/* ============
   MEDIA QUERIES
   ============ */
@media only screen and (max-width: 1023px) {
	.headerLinha {
		padding: 70px 0;
	}

	.headerLinha .titulo {
		padding-top: 60px;
		padding-left: 0;
	}

	/* ============
	   BOTOES E ANCORAS
	   ============ */
	.botoesLi,
	.ancorasLi {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}


	/* ============
	   BOTOES OPCOES DETALHE
	   ============ */
	.opcoesProdutoLi {
		float: none;
		margin: 0 0 5px 0;
	}


	/* ============
	   PRODUTOS CATEGORIAS
	   ============ */
	.produtosCategoriasLi {
		float: none;
	}
}





/* ============
   RETINA
   ============ */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.logoDesign {
		background-image: url('../img/logos/design_inteligente_2x.png');
		background-size: 107px 58px;
	}

	.headerLinha .titulo {
		background-image: url("../img/icons/linhas_titulos_2x.png");
		background-size: 72px 446px;
	}

	.botoesIcone span {
		background-image: url('../img/icons/botoes_linhas_2x.png');
		background-size: 41px 360px;
	}

	.ancorasLink span {
		background-image: url('../img/icons/ancoras_2x.png');
		background-size: 20px 40px;
	}

	.btFavorito {
		background-image: url('../img/icons/estrela_2x.png');	
		background-size: 15px 42px;
	}

	.opcoesProdutoIcone span {
		background-image: url('../img/icons/opcoes_detalhe_2x.png');
		background-size: 41px 480px;
	}
}

